*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
}

nav .container{
    width: 85%;
    margin: 0 auto;
}

nav #nav-brand{
    display: block;
    width: 30%;
    float: left;
}

nav ul{
    width: 70%;
    float: right;
}